// fonts
$primary_font: 'Inter', 'Arial', sans-serif;
$secondary_font: 'Inter', 'Arial', sans-serif;

// colors
$primary-1: #fff;
$primary-2: #4474FF;
$primary-3: #0F4DFF;
$primary-4: #D1DDFF;
$primary-5: #272727;

$secondary-001: #F3F3F6;
$secondary-002: #ECF1FF;
$secondary-003: #D7D8E1;
$secondary-004: #667699;
$secondary-005: #292929;
$secondary-006: #181818;
$secondary-007: #0F0F0F;
$secondary-008: #E65F5F;
$secondary-009: #F84242;
$secondary-010: #34C759;

$gradient-001: linear-gradient(180deg, #F9F9FB 0%, #F9F9FB 100%);
$gradient-002: linear-gradient(180deg, #282828 0%, #232323 100%);

// btn
$primary_color: $primary-2;
$hover_color: $primary-3;

$white: $primary-1;
$black: $secondary-006;
$warning_color: $secondary-008;
$green: #00D56E;

